body {
  background-color: #FFFFFF;
  color: #003366;
  font-family: sans-serif;
}

header {
  background-color: #003366;
  color: #AEC3E3;
  font-family: serif;
  line-height: 200%;
  text-indent: 1em;
}

nav {
  font-weight: bold;
}

dt {
  color: #5280C5;
  font-size: 1.1em;
  font-weight: bold;
  font-family: serif;
}

footer{
  font-size: 0.70em;
  font-style: italic;;
}

.category{
  color: #5280C5;
  font-weight: bold;
  font-family: serif;
}
