body {
  background-color: #FFFFFF;
  color: #003366;
  font-family: sans-serif;
}

header {
  background-color: #003366;
  background-image: url("../images/fishcreeklogo.gif");
  background-repeat: no-repeat;
  color: #FFFFFF;
  font-family: serif;
  line-height: 200%;
  text-indent: 1em;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 100px;
}

nav {
  font-weight: bold;
  padding-top: 3px;
}

#topnav {
  background-color: #5280C5;
}

#bottomnav {
  text-align: center;
}

dt {
  color: #5280C5;
  font-size: 1.1em;
  font-weight: bold;
  font-family: serif;
}

footer {
  font-size: 0.70em;
  font-style: italic;
  ;
  text-align: center;
  color: #000000;
  background-color: #5280C5;
}

.category {
  color: #5280C5;
  font-weight: bold;
  font-family: serif;
}
