body {
  background-color: #FFFFFF;
  color: #003366;
  font-family: sans-serif;
}

header {
  background-color: #003366;
  background-image: url("../images/fishcreeklogo.gif");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #F0F0F0;
  font-family: serif;
  line-height: 200%;
  text-indent: 1em;
}

h1{
  line-height: 250%;
  margin-bottom: 0;
}

img{
  border: none;
}

nav {
  font-weight: bold;
  padding: 5px;
  text-align: center;
  text-shadow: 1px 1px 1px #667;
  background-color: #5280C5;
}

#bottomnav{
  background-color: #F0F0F0
}

dt {
  color: #5280C5;
  font-size: 1.1em;
  font-weight: bold;
  font-family: serif;
}

footer {
  font-size: 0.70em;
  font-style: italic;
  ;
  text-align: center;
  color: #000000;
  background-color: #AEC3E3;
}

main{
  padding-left: 10px;
  padding-right: 10px;
}

.category {
  color: #5280C5;
  font-weight: bold;
  font-family: serif;
}

#wrapper{
  min-width: 700px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: #F0F0F0;
}
