body {
  background-color: #A5ACAF;
}

h1 {
  text-align: center;
}

input[type="submit"] {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  transition: transform .3s;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  box-shadow: 0px 0px 150px #000000;
  background-color: #002145;
  color: #66C010;
  transform: scale(1.05);
}

input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

label, input, textarea {
  display: block;
}

span {
  background-color: black;
}

nav {
  display: inline-block;
  font-weight: bold;
  padding: 5px;
  text-shadow: 1px 1px 1px #667;
  float: left;
  width 150%;
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
}

nav a:link {
  color: #3262A3;
}

nav a:visited {
  color: #6699FF;
}

nav:hover {
  color: #CCCCCC;
}

#wrapper {
  width: 80%;
  min-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.contactB {
  background-image: url(../images/fog-forest.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.box {
  margin: 40px auto;
  max-width: 300px;
  border: 1px solid white;
  background-color: gray;
  padding: 1em;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
