body {
  background-color: lightgray;
}

.contactB {
  background-image: url(../images/fog-forest.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.box {
  margin: 40px auto;
  max-width: 300px;
  border: 1px solid white;
  background-color: gray;
  padding: 1em;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

input [type="submit"]{
  border-radius: 1.6em;
  padding: 1em 2em;
  border: none;
}

label, input, textarea {
  display: block;
}

span {
  background-color: black;
}

nav {
  font-weight: bold;
  padding: 5px;
  text-shadow: 1px 1px 1px #667;
  float: left;
  width 150%;
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
}

nav a:link {
  color: #3262A3;
}

nav a:visited {
  color: #6699FF;
}

nav:hover {
  color: #CCCCCC;
}
