body {
  background-color: #eaeaea;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  z-index: 1000;
  position: fixed;
  transform: translateX(80%);
}

a {
  text-shadow: 1px 1px 1px #667;
  style-type: none;
  display: inline-block;
  style-type: none;
  text-decoration: none;
}

a:link {
  color: #3262A3;
}

a:visited {
  color: #6699FF;
}

a:hover {
  color: #CCCCCC;
}

nav {
  display: inline-block;
  font-weight: bold;
  padding: 5px;
  text-shadow: 1px 1px 1px #667;
  width 150%;
}

nav ul {
  list-style-type: none;
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

nav ul li {
  float: left;
}

nav ul li a {
  text-decoration: none;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

nav ul li a:link {
  color: #3262A3;
}

nav ul li a:visited {
  color: #6699FF;
}

nav ul li a:hover {
  color: #CCC;
}

#wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.box {
  background-image: url(../images/fairhaven.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}

.box2 {
  background-image: url(../images/pad12.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}

.box3 {
  background-image: url(../images/LakePadden.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}

.box4 {
  background-image: url(../images/sehomeHill.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}

.box5 {
  background-image: url(../images/whatcomFalls.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}

.box7 {
  background-image: url(../images/LP2.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}

.box8 {
  background-image: url(../images/pad6.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}

h2 {
  margin: 0;
  color: #fff;
  font-size: 60px;
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.4);
}
